.btn {
    &, // <button>
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        
        transition: all .2s;
        position: relative;
        font-size: 2rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        backface-visibility: hidden;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-black;
        border-radius: 10rem;

        &::after {
            background-color: $color-white;
            border-radius: 100px;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;
        border-radius: 10rem;

        &::after {
            background-color: $color-primary;
            border-radius: 100px;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

}

.btn-header {
    &:link,
    &:visited {
        text-transform: uppercase;
        font-family: inherit;
        font-weight: 700;
        font-size: 2.5rem;
        padding: 1.5rem 4rem !important;
        color: $color-black;
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        transition: all .2s;
        letter-spacing: .5rem;
        position: absolute;
        left: 25%;

        @include respond(phone) {
            left: 20%;
        }
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 2rem rgba($color-black, .15);
        transform: translateY(0);
    }

}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 2rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn-language {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    font-size: 2rem;
    color: $color-white;

    //Change for the <button> element
    border: none;
    cursor: pointer;
    padding: 1.5rem;
    background-color: transparent;
    font-family: inherit;
    font-weight: inherit;
    width: 6rem;
    border-radius: 0;
    text-align: center;

    &:hover {
        text-decoration: underline;
    }

    &:active,
    &:focus {
        outline: none;
        text-decoration: underline;
    }
}